body{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.header h1{
    font-family:monospace;
    color: rgb(255, 208, 0);
    margin: 0;
    font-size: 46px;
}
.header{
    height: 100px;
    background-color: #18202b;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 9px;
}

.game{
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: #232c38;
    padding-bottom: 50px;
}
.game-text{
    text-align: center;
    color: white;
    font-family:monospace;
}
.game-text h1{
    font-size: 46px;
}
.game-text h2{
    font-size: 32px;
}
.game-signs h2{
    font-size: 66px;
    font-family: monospace;
    color: white;
}
.game-signs{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 9rem;
}
.player-side, .computer-side{
    font-family: monospace;
    font-size: 36px;
    text-align: center;
}
.player-side{
    color: greenyellow;
}
.computer-side{
    color: rgb(231, 27, 0);
}
#player-sign, #computer-sign{
    font-size: 72px;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}
.choice-container{
    text-align: center;
    color: white;
    font-family: monospace;
}
.choice-container button{
    border: none;
    padding: 32px;
    font-size: 66px;
    background-color: #18202b;
    border-radius: 10px;
}
#btn-rock:hover, #btn-paper:hover, #btn-scissor:hover{
    border: 1px solid white;
    padding: 21px;
    font-size: 80px;
}

.footer{
    height: 45px;
    display: flex;
    background-color: #18202b;
    justify-content: center;
    align-items: center;
}
a{
    text-decoration: none;
    color: white;
}
.footer p{
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
#github-logo{
    height: 20px;
    margin: 0 5px;
}
